/* Center everything using the MVP.css */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --active-brightness: 0.85;
  --border-radius: 5px;
  --box-shadow: 0px 0px 0px;
  --color-accent: #4E5463;
  --color-bg: #1E1E1E;
  --color-bg-secondary: #4E5463;
  --color-link: #F7F8F7;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #1E1E1E;
  --color-table: #118bee;
  --color-text: #E2E5EB;
  --color-text-secondary: #999;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
}

input, textarea, select {
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
}
