.twitter-auth-button {
  display: flex;
  align-items: center;
  background: var(--color-bg-secondary);
  border: none;
  color: var(--color-link);
}

.twitter-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.twitter-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
